name: gh pages publish

on:
  push:
    branches: main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
       with:
          node-version: 14
          registry-url: https://registry.npmjs.org/
          cache: 'npm'
          cache-dependency-path: package-lock.json
      - uses: actions/cache@v2
        with:
          path: ${{ github.workspace }}/build
          key: ${{ runner.os }}-react-${{ hashFiles('**/package-lock.json') }}-${{ hashFiles('**.[jt]s', '**.[jt]sx') }}
          restore-keys: |
            ${{ runner.os }}-react-${{ hashFiles('**/package-lock.json') }}
      - name: publish package
        run: |
          npm i -g @layer0/cli
          npm i
          npm run build
          layer0 deploy  --token=${{secrets.layer0DeployToken}} --environment=production
